
body{
  background-color:#EBD6FB;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Delius';
  src: url('/public/Delius-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

